@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@1,300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.height-100{
  height: 100%;
}

#root{
  height: 100%;
}
button:focus{
  outline: none !important;
}

.mt-20{
  margin-top:20px;
}
.mt-30{
  margin-top:30px;
}
.mt-40{
  margin-top:40px;
}

.mt-50{
  margin-top:50px;
}
.mt-80{
  margin-top:80px;
}

.mb-20{
  margin-bottom:20px;
}
.mb-30{
  margin-bottom:30px;
}

.mb-50{
  margin-bottom:50px;
}

  /* NAV BAR*/
.navbar-light .navbar-nav .nav-link  {
  color: #E82788 !important;
}
.navbar{
  box-shadow: 0px -17px 10px 10px rgba(119,119,119,1);
}

.nav-item{
  margin-top:12px;
  padding-top:8px;
  padding-left: 5px;
  border-top:1px solid #dddddd !important;
}
.nav-item:last-child{

  margin-bottom:8px;
}
.navbar-light .navbar-toggler{
  border:none !important;
}



/* BUSQUEDA*/
.busqueda{
  color:#E82788;
  font-size: 35px;
  font-weight: bold; 
  
  
}

.formBusqueda{
  margin-left: 0px!important;
  background-color: rgba(255, 255, 255, 0.637); 
  padding: 10px;
  border: solid 2px #CCCACB;
  color:#60656F

}

.contai-busqueda{
padding-bottom: 50px;
padding-top: 50px;
}




/* FORM*/
.input-form{
  width: 95%;
  height: 40px;
  margin: auto auto;
  display: flex;
  border: solid 1px #DFE0E2;
}

.div-form{
margin-bottom:25px
}

.boton-form{
  width:100%;
  background-color: #E32283!important;
  height: 50px;
  margin: auto auto;
  display: flex;
  border:solid 1px #E32283!important;
  color:white!important
}

.title-form{
  margin-bottom: 25px;
  color:#60656F;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.label-form{
  color:#60656F;
  margin-bottom: 25px;
  padding-left: 15px;
}

.check-form{
  border:solid 1px #60656F;
  margin-left: 10px;
}

.l-form{
  color:#1D1E20;
  margin-bottom: 8px;
  padding-left: 15px;
}

.form-check{
  margin-bottom: 15px!important;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
}

.extra-form{
  font-family: 'Montserrat', sans-serif;
}

a {
  color:#E32283!important;
} 

.label-form{
  font-family: 'Montserrat', sans-serif;
  padding-left: 0px;
  font-weight: 400;
  margin-bottom: 8px;
}

.direccion{
  font-family: 'Montserrat', sans-serif;
  color:#60656F;
}

/* PRODUCT CARD */
.card-columns {
  margin-top: 40px!important;
}

.productCard{
  padding:0px!important;
  
}
.img-productCard{
  height: 350px;
}
.card-clik{
  cursor: pointer;
}

.precio{

  font-weight: bold;
  color:#60656F;
  font-size: 25px
}

.nombre-producto{
  font-weight: bold;
  color:#60656F;
  font-size: 25px!important;
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  border-bottom:1px solid #dfdfdf;
  
}

.card-row{
  padding-top: 4px;
}

.img-card{
  width: 50px;
  height: 50px;
  border: solid 2px #60656F;
}

.baker-card{
  color:#60656F;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  
}
.mh-100{
  height:100px !important;
}
.ingredients-card{
  color:#222222 !important;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 10px;
  font-weight: bold;
  height:30px;
}

.baker-name{
  font-weight: bold;
}

.boton{
  background-color: #E32283!important;
  height: 50px;
  margin: auto auto;
  display: flex;
  border:solid 1px #E32283!important;
  color:white!important;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.grid{
  margin-top: 16px;
}

.card-img, .card-img-top {

}

.card-text:last-child {
  margin-bottom: 30px!important;
}

.txt-card{
  font-weight: bold;
}

.span-card{
  font-weight: 300; 
}
.col-logo{
  margin-left: -20px;
}


.inc{
  height: 41px;
  border: 2px solid #E32283;
  border-radius: 31%;
  color: #E32283;
  background-color: white;
  width: 41px;
}
.count{
  font-size: 27px;
  padding-left: 8px;
  padding-right: 8px;

}

.counter{
  margin-left: 155px!important;
  
}

.agregar{
  margin-bottom: 20px;
  color:#E32283 !important;
  background-color: white!important;
  border: 2px solid  #E32283!important;
  cursor: pointer;
  width: 110px;
}

  /* PROFILE */
.perfil{
  font-family: 'Montserrat', sans-serif;
  color:#60656F;
}  

.img-perfil{
  width: 155px;
  height: 155px;
  border: 3px solid #E32283;
}

.bak-campos{
  color:#E32283;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.bak-val{
  color:black!important;
  font-weight: 400!important;
  font-family: 'Montserrat', sans-serif;
}

.boton-editar{
margin-bottom: 20px;
color:#E32283 !important;
background-color: white!important;
border: 2px solid  #E32283!important;
cursor: pointer;
}

.boton-borrar{
  margin-bottom: 20px;
  color:#E32283 !important;
  background-color: white!important;
  border: 2px solid  #E32283!important;
  margin-left: 5px!important;
  }


/* Pedido */
.pedido{
  background-color: #E32283;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tit-pedido{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.btn-tramitar{
  background-color: white!important;
  height: 50px;
  
  display: flex;
  border:solid 1px #E32283!important;
  color:#E32283!important;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.articulo{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.precioTotal{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.total{
  margin-bottom: 20px;
  margin-top: 20px;
}

.tienda{
  padding-bottom: 110px;
}
.fin-pedido{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color:#E32283;
  margin-top:100px
}
.toggle{
  border: 2px #E32283 solid!important;
  color: #E32283!important;
  background-color: white!important;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px!important;
}

.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
  background-color: #E32283!important;
  color: white!important;
}

.btn-group-vertical {
  width: 70%;
}
@media (min-width: 576px) { 
  
.card-columns {
  column-count: 2 !important;
  }
  .col-logo{
    margin-left: -10px;
  }
  .img-tienda{
    width: 47px;
  }
  .img-productCard{
    height: 200px;
  }

.inc{
  height: 35px!important ;
  border: 2px solid #E32283;
  border-radius: 31%;
  color: #E32283;
  background-color: white;
}
.count{
  font-size: 22px;
  padding-left: 8px;
  padding-right: 8px;

}

.counter{
  margin-left: 55px!important;
  margin-top: 6px;
}

.agregar{
  margin-bottom: 20px;
  color:#E32283 !important;
  background-color: white!important;
  border: 2px solid  #E32283!important;
  cursor: pointer;
  width: 90px;
}

}

@media (min-width: 768px) { 
  
  .card-columns {
    column-count: 2 !important;
    }
    .nav-item{
      margin-top:0px;
  padding-top:0px;
  padding-left: 0px;
  border-top:0px solid #dddddd !important;
    }
    .nav-item:last-child{

      margin-bottom:0px;
    }
    .col-logo{
      margin-left: -25px;
    }
    .img-productCard{
      height: 200px;
    }

    .counter{
      margin-left: 103px!important;
      margin-top: 6px;
    }

    .btn-group-vertical {
      flex-direction: row!important;

  }
   
 }

@media (min-width: 992px) { 
  .card-columns {
    column-count: 3 !important;
    }
    .col-logo{
      margin-left: -20px;
    }
    .img-productCard{
      height: 200px;
    }
    .counter{
      margin-left: 80px!important;
      margin-top: 6px;
    }
   
    
 }

@media (min-width: 1200px) { 
  .card-columns {
    column-count: 4 !important;
    }
    .img-tienda{
      width: 47px;
    }
    .col-logo{
      margin-left: -10px;
    }
    .img-productCard{
      height: 200px;
    }

    .counter{
      margin-left: 70px!important;
      margin-top: 6px;
    }
}


 /* Footer */

 .footer{
   height: 100px;
   background-color:#2D2D2D ;  
   bottom: 0;
   left: 0;
   right: 0;
  
  
 }
 .text-footer{
   color: white;
   font-family: 'Montserrat', sans-serif;
   padding-top: 32px;
 }

 .img-cloudy{
   width: 100%;
  height: auto;
}